.aj {
    min-height: 10px;
}


.cdp{
    display: none;
    z-index: 100;
}

.cdp-options{
    display: none;
    z-index: 100;
}

.cdp.active {
    display: block;
}

.cdp-options.active {
    display: block;
}

.months-listing {
    margin-bottom: 10px;
    margin-top: 10px;
}

.months-listing .mn-item{
    display: inline-block;
    padding: 7px;
    border: 1px solid #ddd;
    cursor: pointer;
    color: #000;
    margin-bottom: 3px;
    border-radius: 3px;
}

.months-listing .mn-item:hover{
    background: #4E73DF;
    color: #fff;
}

.months-listing .mn-item.active{
    background: red;
    color: #fff;
}
